# Cleaning du DF obtenu

Comme dans les TD du cours, on rend les données exploitables par un modèle de NLP.

## Installations

In [ ]:
!pip install spacy 
!python -m spacy download fr_core_news_sm

## Data

In [12]:
import spacy
nlp = spacy.load('fr_core_news_sm')

def clean_docs(texts, remove_stopwords=True, n_process = 4):
    
    docs = nlp.pipe(texts, 
                    n_process=n_process,
                    disable=['parser', 'ner', 'textcat'])
    stopwords = nlp.Defaults.stop_words + ['m.','mme','ministre']

    docs_cleaned = []
    for doc in docs:
        tokens = [tok.text.lower().strip() for tok in doc if not tok.is_punct]
        if remove_stopwords:
            tokens = [tok for tok in tokens if tok not in stopwords]
        doc_clean = ' '.join(tokens)
        docs_cleaned.append(doc_clean)
        
    return docs_cleaned

In [14]:
dfQuestions['Question_clean'] = clean_docs(dfQuestions['Question'])
dfQuestions.head()

,id,text,author,text_clean
0,id26305,"This process, however, afforded me no means of...",EAP,process afforded means ascertaining dimensions...
1,id17569,It never once occurred to me that the fumbling...,HPL,occurred fumbling mere mistake
2,id11008,"In his left hand was a gold snuff box, from wh...",EAP,left hand gold snuff box capered hill cutting ...
3,id27763,How lovely is spring As we looked from Windsor...,MWS,lovely spring looked windsor terrace sixteen f...
4,id12958,"Finding nothing else, not even gold, the Super...",HPL,finding gold superintendent abandoned attempts...